
    .body{
        background-color:rgb(110, 121, 172);
    }
    .custom-button {

        text-align: center;
        cursor: pointer;
        background-image: url('rock.png'); 
        width: 200px;
        height: 200px;
    }
    .paper {

        text-align: center;
        cursor: pointer;
        background-image: url('sc.png'); 
        width: 200px;
        height: 200px;
    }
    .scissors {

        text-align: center;
        cursor: pointer;
        background-image: url('paper.png'); 
        width: 200px;
        height: 200px;
    }
    